.green {
    position: absolute;
    bottom: 70px;
    left: 20px;
    color: green;
    font-size: 20px;
}

.red {
    position: absolute;
    bottom: 110px;
    left: 20px;
    color: red;
    font-size: 20px;
}

#sub {
    position: absolute;
    bottom: 110px;
    left: 50px;
    color: aliceblue;
}

#hol {
    position: absolute;
    bottom: 70px;
    left: 50px;
    color: aliceblue;
}

.cal {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .green {
        position: absolute;
        bottom: 150px;
        left: 20px;
        color: green;
        font-size: 20px;
    }
    .red {
        position: absolute;
        bottom: 190px;
        left: 20px;
        color: red;
        font-size: 20px;
    }
    #sub {
        position: absolute;
        bottom: 190px;
        left: 50px;
        color: aliceblue;
    }
    #hol {
        position: absolute;
        bottom: 150px;
        left: 50px;
        color: aliceblue;
    }
    .cal {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
}